<%=render "main/carrusel"%>
<div class="bg-1">
  <div class="container">
    <h3 class="text-center">Cursos a los cuales puedes asistir!</h3>
    <p class="text-center">Aprende nuevas cosas.<br> Para ser un mejor profesionista!</p>
    <div class="row text-center">
    <% Curso.all.each do |curso|%>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href=http://localhost:3000/main/view?<%=curso.id%>><img src=<%= curso.portada%> alt="curso_1"></a>
                <p><strong><%= curso.nombre %></strong></p>
                <p><%= dayname(curso.fecha.wday) %>. <%= curso.fecha.mday%> <%=daymonth(curso.fecha.month) %> <%= curso.fecha.year%> </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever=<%=curso.id%>>Registrate</button>
            </div>
        </div>
    
    <% end %>
    </div>
  </div>
</div>

<%= render "main/fotter" %>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

<%= render "main/modal" %>


<script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#curse').val(recipient)
})
</script>

